@use "../abstract/index" as a;

// Global Styles
* {
  font-family : "Red Hat", sans-serif;
}

// Heading Styles
.heading-xl {}

.heading-lg {
  font-size   : 2.5rem;
  line-height : 1.2;
}
.heading-md {
  font-size   : 1.5rem;
  line-height : 1.25;
}

.heading-sm {}
.heading-xs {}

// Text Styles
.text-xl {}
.text-lg {}

.text-md {
  font-size   : 1rem;
  line-height : 1.5;
}

.text-sm {
  font-size   : 0.875rem;
  line-height : 1.5;
}

.text-xs {}

// Text Colors
.text-rose-900 {color : a.$clr-rose-900;}
.text-rose-500 {color : a.$clr-rose-500;}

.text-red {color : a.$clr-red;}

// Font Weight
.bold {font-weight : 700;}
.semi-bold {font-weight : 600;}
.medium {font-weight : 500;}
.normal {font-weight : 400;}
.light {font-weight : 300;}

// Font Style
.italic {font-style : italic;}
.normal {font-style : normal;}

// Text Alignment
.text-left {text-align : left;}
.text-center {text-align : center;}
.text-right {text-align : right;}

// Text Transformation
.uppercase {text-transform : uppercase;}
.lowercase {text-transform : lowercase;}
.capitalize {text-transform : capitalize;}