.cart-item {
  display         : flex;
  align-items     : center;
  justify-content : space-between;
  gap             : 1rem;

  &__cost {
    display               : grid;
    grid-template-columns : 0.25fr 1fr 1fr;
    gap                   : 0.75rem;
    min-width             : 12rem;
  }

  &__description {
    display : grid;
    gap     : 0.5rem;
  }

  &__remove-icon {
    width         : 1.25rem;
    height        : 1.25rem;
    padding       : 0.15rem;
    border        : 2px solid $clr-rose-400;
    border-radius : 50%;
    color         : $clr-rose-400;

    &:hover {
      border : 2px solid $clr-rose-900;
      color  : $clr-rose-900;
    }
  }

  &__item-divider {
    border : 0.5px solid $clr-rose-100;
  }
}