.cart-list {
  display : grid;
  gap     : 1rem;

  &__order-total {
    display         : flex;
    justify-content : space-between;
  }

  &__carbon-neutral {
    display          : flex;
    justify-content  : center;
    gap              : 1rem;
    padding          : 1rem;
    border-radius    : 0.5rem;
    background-color : $clr-rose-50;
  }
}