.add-to-cart-button {
  display          : inline-flex;
  align-items      : center;
  justify-content  : space-between;
  gap              : 0.5rem;
  width            : 10rem;
  height           : 2.75rem;
  padding          : 0.75rem 0.75rem;
  border           : 1px solid $clr-rose-400;
  border-radius    : 50rem;
  font-size        : 0.875rem;
  font-weight      : 600;
  color            : $clr-white;
  background-color : $clr-red;

  & img {
    width         : 1.25rem;
    height        : 1.25rem;
    padding       : 0.15rem;
    border        : 2px solid $clr-white;
    border-radius : 50%;
  }
}