.cart-modal {
  z-index            : 2;
  bottom             : 0;
  left               : 50%;
  overflow           : scroll;
  display            : grid;
  align-content      : flex-start;
  gap                : 2rem;
  width              : 100%;
  height             : 100%;
  padding            : 2.5rem 1.5rem 1.5rem 1.5rem;
  border-radius      : 0.75rem 0.75rem 0 0;
  background-color   : $clr-white;
  scrollbar-width    : none;
  -ms-overflow-style : none;

  @include breakpoint(medium) {
    overflow      : unset;
    width         : min(100% - 2.5rem, 43rem);
    height        : unset;
    padding       : 2.5rem;
    border-radius : 0.75rem;
  }

  &__background {
    position         : fixed;
    z-index          : 1;
    overflow-y       : auto;
    display          : flex;
    align-items      : flex-start;
    justify-content  : center;
    width            : 100%;
    height           : 100%;
    padding-top      : 6rem;
    background-color : hsl(0, 0, 0, 0.50);
    inset            : 0;

    @include breakpoint(medium) {
      align-items : flex-start;
      padding     : 10vh 0;
    }
  }

  &__header {
    display : grid;
    gap     : 1.5rem;
  }

  &__header-text {
    display : grid;
    gap     : 0.5rem;
  }

  &__product-list-container {
    display          : grid;
    gap              : 1.5rem;
    padding          : 1.5rem;
    background-color : $clr-rose-50;
  }

  &__product-list {
    display : grid;
    gap     : 1rem;
  }

  &__order-total {
    display         : flex;
    justify-content : space-between;
  }
}