.cart-modal-item {
  display         : flex;
  align-items     : center;
  justify-content : space-between;
  gap             : 1.5rem;

  &__main-content {
    display     : flex;
    align-items : center;
    gap         : 1rem;
  }

  &__image {
    width  : 3rem;
    height : 3rem;
  }

  &__item-description {
    display : grid;
    gap     : 0.25rem;

    > h3 {
      overflow      : hidden;
      white-space   : nowrap;
      text-overflow : ellipsis;
    }
  }

  &__cost {
    display : flex;
    gap     : 1rem;
  }

  &__item-divider {
    border : 0.5px solid $clr-rose-100;
  }
}