// Red
$clr-red           : #C73B0F;

//Rose
$clr-rose-900      : #260F08;
$clr-rose-500      : #87635A;
$clr-rose-400      : #AD8A85;
$clr-rose-300      : #CAAFA7;
$clr-rose-100      : #F5EEEC;
$clr-rose-50       : #FCF8F6;

//Green
$clr-green         : #1EA575;

// Neutrals
$clr-black     : #000000;
$clr-white     : #FFFFFF;